*{margin: 0; padding:0; font-family: upheavtt;}

body {
    background:#3b4a69;
}

header {
    width:100%;
    overflow:visible ;
    background: #222b3c;
    margin-bottom: 20px;
    text-decoration: overline;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .logo {
    letter-spacing: 4px;
    color:#3b5b63;
    font-size: 30px;
    line-height: 200px; 
    text-shadow: 5px 5px 5px black;
}
header img {
    position: inherit;
    float: left;
    margin-top: 70px;
    margin-left: 90px;
}
header h1 {
    float: left;
    margin-top: 0px;
    padding: 0px;
    height: 100px;
    width: 200px;
    font-size: 50px;
}

header nav {
    float: right;
    line-height: 200px;
}

header nav a {
    display: inline-block;
    color: #3b5b63;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: 250ms ease;
   
}

header nav a:hover {
    background: rgba(0, 0, 0, 0.966);
    border-radius: 5px;
}

.header2 {
    position: fixed;
    height: 100px;
}

.header2 img {
    line-height: 100px;
}

.header2 .logo{
    line-height: 100px;
    font-size: 30px;
}


.header2 nav {
    line-height: 100px;
}

.contenido p {
    color: white;
    margin-bottom: 1em;
}
.contenido li{
    color: white;
    text-decoration: underline;
    margin-bottom: 1em;
}
.contenido h1{
    color: white;
    text-decoration: underline;
    margin-bottom: 2em;
}
.contenido h2{
    color: white;
    margin-bottom: 1em;
}
footer{
    color: white;
    margin-top: 90px;
}

@media screen and (max-width: 950px) {

    header.logo,
    header nav {
        width:100%;
        text-align:center;
        line-height:100px;
    }

    .header2 {
        height: auto;
    }

    .header2 .logo,
    .header2 nav {
        line-height: 50px;
    }
}

@font-face {
    font-family: upheavtt;
    src: url(upheavtt.ttf);
}